@using ReliefWeb.Models
@model List<ReliefResult>
@{
	ViewBag.Title = "Relief";
}

<h2>Result</h2>
<style>
	td, th {
		padding: 3px 5px;
	}
</style>
@if (Model != null && Model.Count > 0)
{
	foreach (ReliefResult item in Model)
	{
		<span style="width: 250px; display: inline-block">
			Calculation time: @item.Duration
			<br />
			Algorithm: @item.Name
		</span>
	}
	<br />

	int ind = -1;
	foreach (ReliefResult item in Model)
	{
		ind++;
		<table border="1" style="display: inline-table; min-width: 250px">
			<thead>
				<tr>
					<th>Column</th>
					<th>Score</th>
				</tr>
			</thead>
			<tbody>
				@for (int i = 0; i < item.SortedScores.Count; i++)
				{
					if (i == 0)
					{
						<tr>
							<td>@item.SortedScores[i].Key</td>
							<td><b>@item.SortedScores[i].Value.ToString("N5")</b></td>
						</tr>
					}
					else
					{

						<tr>
							<td>@item.SortedScores[i].Key</td>
							<td>@item.SortedScores[i].Value.ToString("N5")</td>
						</tr>
					}
				}
				@if (item.RemovedCount != null)
				{
					<tr>
						<td colspan="2">+@item.RemovedCount.Value removed columns</td>
					</tr>
				}
				@if (item.Clusters != null)
				{
					<tr>
						<td>
							@Html.Partial("BarChart", item.Sillhoutte, new ViewDataDictionary() { { "id", "chart_sil_" + ind } })
						</td>

						<td>
							@Html.Partial("BarChart", item.SillhoutteAll, new ViewDataDictionary() { { "id", "chart_sil_all_" + ind } })
						</td>
					</tr>
					for (int j = 0; j < item.Graphs.Count; j++)
					{
						<tr>
							<td>
								@Html.Partial("Chart", item.Graphs[j], new ViewDataDictionary() { { "id", "chart_" + ind + "_" + j } })
							</td>
							<td>
								@Html.Partial("Chart", item.GraphsAll[j], new ViewDataDictionary() { { "id", "chart_" + ind + "_" + j + "_o" } })
							</td>
						</tr>
					}
				}
			</tbody>
		</table>
	}
}