@using ReliefWeb.Models
@model List<ReliefResult>
@{
	ViewBag.Title = "Relief";
}

<h2>Result</h2>
<style>
	td, th {
		padding: 3px 5px;
		min-width: 150px;
	}
</style>
@if (Model != null && Model.Count > 0)
{
	<table border="1" style="display: inline-table">
		<thead>
			<tr>
				<th>Algorithm</th>
				<th>Best column</th>
				<th>Calculation time</th>
			</tr>
		</thead>
		<tbody>
			@foreach (ReliefResult item in Model)
			{
				<tr>
					<td>@item.Name</td>
					<td>@item.BestScore.Key</td>
					<td>@item.Duration</td>
				</tr>
			}
		</tbody>
	</table>
	<br />
	<br />
	<table border="1" style="display: inline-table">
		<thead>
			<tr>
				<th>Column</th>
				@for (int i = 0; i < Model.Count; i++)
				{
					<th>@Model[i].Name</th>
				}
			</tr>
		</thead>
		<tbody>
			@for (int i = 0; i < Model[0].Scores.Count; i++)
			{
				<tr>
					<td>@Model[0].Scores[i].Key</td>
					@for (int j = 0; j < Model.Count; j++)
					{
						if (Model[j].BestScore.Key == Model[j].Scores[i].Key)
						{
							<td><b>@Model[j].Scores[i].Value.ToString("N5")</b></td>
						}
						else
						{
							<td>@Model[j].Scores[i].Value.ToString("N5")</td>
						}
					}
				</tr>
			}
			@if (Model[0].RemovedCount != null)
			{
				<tr>
					<td colspan="2">+@Model[0].RemovedCount.Value removed columns</td>
				</tr>
			}


			@if (Model[0].Clusters != null)
			{
				<tr>
					<td></td>
					@for (int i = 0; i < Model.Count; i++)
					{
						var xAxis = new List<int>();
						for (int j = 0; j < Model[i].Clusters.Rows.Count; j++)
						{
							xAxis.Add(j + 1);
						}
						var chart = new Chart(width: 200, height: 200, theme: ChartTheme.Vanilla)
					 .AddTitle("Sillhoutte index")
					 .AddSeries("Default",
								xValue: xAxis,
								yValues: Model[i].Sillhoutte)
						.ToWebImage();
						<td>
							<img src="@string.Format("data:image/jpeg;base64,{0}",Convert.ToBase64String(chart.GetBytes()))" />
						</td>

					}
				</tr>
				for (int j = 0; j < Model[0].Graphs.Count; j++)
				{
					<tr>
						<td></td>

						@for (int i = 0; i < Model.Count; i++)
						{
							<td>
								@Html.Partial("Chart", Model[i].Graphs[j], new ViewDataDictionary() { { "Counter", i }, { "Counter2", j } })
							</td>
						}
					</tr>
				}
			}
		</tbody>
	</table>
}