@using ReliefWeb.Models
@model List<ReliefResult>
@{
	ViewBag.Title = "Relief";
}

<h2>Result</h2>
<style>
	td, th {
		padding: 3px 5px;
	}
</style>
@if (Model != null && Model.Count > 0)
{
	foreach (ReliefResult item in Model)
	{
		<span style="width: 300px; display: inline-block">
			Calculation time: @item.Duration
			<br />
			Algorithm: @item.Name
		</span>
	}
	<br />
	foreach (ReliefResult item in Model)
	{
		<table border="1" style="display: inline-table; width: 300px">
			<thead>
				<tr>
					<th>Best Column</th>
					<th>Score</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>@item.BestScore.Key</td>
					<td>@item.BestScore.Value</td>
				</tr>
			</tbody>
		</table>
	}
	<br />
	<br />
	foreach (ReliefResult item in Model)
	{
		<table border="1" style="display: inline-table; width: 300px">
			<thead>
				<tr>
					<th>Column</th>
					<th>Score</th>
				</tr>
			</thead>
			<tbody>
				@for (int i = 0; i < item.Scores.Count; i++)
				{
					<tr>
						<td>@item.Scores[i].Key</td>
						<td>@item.Scores[i].Value</td>
					</tr>
				}
				@if (item.RemovedCount != null)
				{
					<tr>
						<td colspan="2">+@item.RemovedCount.Value removed columns</td>
					</tr>
				}
			</tbody>
		</table>
	}
}